/* konami code display*/
.game{
    z-index: 10;
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 100%;
    top: 0;
}

.menu{
    margin: 50px 0 50px 0;
    height: 20vh;
}

.start{
    padding-left:  100px;
    font-weight: bold
}

.close-display{
    float: right;
    margin-right: 100px
}


.chose-game{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%
}
#game1{
    background-image: url(arcade-game.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: auto;
}

#game2{
    background-image: url(pendu.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: auto;
}

#game3{
    background-image: url(memory.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    height: 450px;
    margin: auto;  
}

.konami-link{margin: auto;}

.konami-link:hover {
filter:brightness(50%);
}

.hide{
display: none;
}

.hidescrollbar{
    overflow: hidden;
}
  

.french{
text-align: center;
margin: 0px ;
}

