.project-title{
    text-align: center;

}

.projets{
    width: 100%;
    margin-top: 100px;
}

.projet{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0 100px 0;
}

.text{
    margin: auto
}

.link:hover{
    filter:brightness(50%)
}

.square{
    max-width: 600px;
    margin-right: 300px;
}

.myreads{
    max-width: 600px;
    margin-left: 300px;
}

hr{
    width: 400px;
}

.title-desc{
    list-style-type: none;
    font-weight: bold;
}
/*responsive tablette et smartphone */

  /* smartphone */
  @media screen and (max-width: 420px) {
    .projet{
        display: flex;
        flex-wrap: wrap;
    }
    .link{
        width: 50%;
    }
    .project-img{
        margin: 0;
        max-width: 200px;
    }
    .text{
        width: 50%
    }
  }
  
     /* tablette */
  @media screen and (min-width: 420px) and (max-width: 1030px) {
    .projet{
        display: flex;
        flex-wrap: wrap;
    }
    .link{
        width: 50%;
    }
    .project-img{
        margin: 0;
        max-width: 400px;
    }
    .text{
        width: 50%
    }
}

    /* medium screen */
    @media screen and (min-width: 1030px) and (max-width: 1640px) {
        .projet{
            display: flex;
            flex-wrap: wrap;
        }

        .project-img{
            margin: 0;
            max-width: 600px;
        }
        .text{
            width: 50%
        }
    }